nav ul{
	text-align: center;
	width: 100%;
	background: #f4b9ad;
	list-style-type: none;
}
nav li{
	display: inline-flex;
}
nav a{
	text-decoration: none;
	padding: 20px;
	color: black;
}
img{
	width: 250px;
	height: 350px;
	margin: right;
	margin-left: 24px;
	margin-top: 50px;

}
section{
 	margin-top: 48px;
	width: 300px;
	height: 400px;
}
div{
	margin: right;
}
header{
	font-size: 50px;
}
p{
	font-size: 25px;
}
h2{
	font-size: 40px;
}